@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav{
    display: flex;
    align-items: center;
}
nav h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 37px;
    line-height: 56px;
    /* identical to box height, or 151% */


    color: #000;
    margin-left: 0.5em;
}
.navbar-collopse{
    width: 30%;
}
ul{
    display: flex;
    justify-content: space-around;
}
ul li{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
   /* identical to box height, or 150% */


    color: #707070;

}
.register a{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    color: #707070;

}
.register .btn{
    background-color: none;
    border: 1px solid black;
    border-radius: 5px;
    color: #000;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 2s;
    margin-left: 0.5em;
}
.register .btn:hover{
    background: #306EF7;
    color: #fff;
    border: none;
}



.container{
    width: 80%;
    margin: 0 auto;
}
.text{
    text-align: center;
}
.text h1{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    /* identical to box height, or 150% */


    color: #000;

    width: 100%;
    margin: 80px 0;

}
span{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    /* identical to box height, or 150% */


    color: rgb(240, 138, 181);

    width: 100%;
}
.text2{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 60px;
    /* or 150% */

    text-align: center;

    color: #000;
    margin-bottom:  35px;
}
.main-btn{
    text-align: center;
    width: 100%;
}
.button1{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height, or 150% */

    text-align: center;
    color: #000;
    margin-left: 10px;
    padding: 18px;
    border: 1px solid gray;
    border-radius: 3px;
}
.button{
    font-family: 'Poppins',sans-serif;
    font-size: normal;
    font-weight: 500;
    background-color: blue;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 25px;
    border: 1px solid gray;
    padding: 15px;
}
.main-btn .button:hover{
    background: #306EF7;
    color: #000;
    border: none;
}
.main-btn .button1:hover{
    background: #000;
    color: #fff;
    border: none;
}
.p{
    margin-top: 10px;
}
.p p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    /* identical to box height */

    text-align: center;

    color: #707070;
    align-items: center;
    
    
}
.M{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1.4px;
    text-transform: uppercase;

    color: #E4E4E4;
    margin: 20px 0;
}
.Why{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 112px;
    /* identical to box height, or 149% */

    text-align: center;
    color: #000;
}
.emoji{
    justify-content: space-around;
    display: flex;
}
.Smile{
    display: flex;
    align-items: center;
    
}
.Smile p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 52px;
    /* identical to box height, or 149% */


    color: #000;
    display: flex;
    align-items: center;
}
.Happy{
    display: flex;
    align-items: center;
}
.Happy p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 52px;
    /* identical to box height, or 149% */


    color: #000;
    display: flex;
    align-items: center;
}
.Party{
    display: flex;
    align-items: center;
}
.Party p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 52px;
    /* identical to box height, or 149% */


    color: #000;
    display: flex;
    align-items: center;
}
.under{
    display: flex;
    justify-content: space-around;
}
.under p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 7px;
    /* identical to box height, or 150% */


    color: #707070;

}
.Step{
    margin: 70px 0;
    text-align: center;
}
.Step h5{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    /* identical to box height, or 152% */


    color: #3D82F2;
}
.Step h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 112px;
    /* identical to box height, or 149% */

    text-align: center;

    color: #000;
}
.Step h4{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    /* or 150% */

    text-align: center;

    color: #707070;

}
.View{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 50px;
    /* identical to box height, or 150% */

    color: #000;
    margin-top: 20px;
}
.Homepage{
    margin-left: 4em;
}
.Homepage h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height, or 150% */


    color: #000;

}
.Spot{
   margin-top: 30px;
   margin-left: 4em; 
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.Spot h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
    /* identical to box height, or 149% */


    color: #000;
}
.One{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 1px;
    /* identical to box height, or 149% */


    color: blue;
}
.Bring{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 10px;
    /* identical to box height, or 148% */


    color: #000;
}
.Spot img{
    width: 50%;
    height: 30rem;
}
.main1-btn{
    margin-left: 4em;
    width: 100%;
}
.button3{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height, or 150% */

    text-align: center;
    color: #000;
    margin-left: 10px;
    padding: 18px;
    border: 1px solid gray;
    border-radius: 6px;
}
.button2{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    background-color: blue;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 25px;
    border: 1px solid gray;
    padding: 15px;
}
.main1-btn .button2:hover{
    background: #306EF7;
    color: #000;
    border: none;
}
.main1-btn .button3:hover{
    background: #000;
    color: #fff;
    border: none;
}
.Step2{
    margin: 70px 0;
    text-align: center;
}
.Step2 h5{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    /* identical to box height, or 152% */


    color: #3D82F2;
}
.Step2 h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 112px;
    /* identical to box height, or 149% */

    text-align: center;

    color: #000;
}
.Step2 h4{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    /* or 150% */

    text-align: center;

    color: #707070;

}
.imgs{
    width: 100%;
    text-align: center;
    display: flex;
    height: 30rem;
    justify-content: space-between;
}
.M2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1.4px;
    text-transform: uppercase;

    color: #424141;
    margin: 20px 0;
    margin-left: 70rem;
    margin-bottom: 40px;
}
.btn4{
    text-align: center;
    margin-top: 40px;
}
.button4{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    background-color: blue;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 25px;
    border: 1px solid gray;
    padding: 15px;
}
.button4:hover{
    background: #306EF7;
    color: #000;
    border: none;
}
.Step3{
    margin: 10em 0;
    text-align: center;
}
.Step3 h5{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    /* identical to box height, or 152% */


    color: #3D82F2;
}
.Step3 h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 112px;
    /* identical to box height, or 149% */

    text-align: center;

    color: #000;
}
.Step3 h4{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    /* or 150% */

    text-align: center;

    color: #707070;

}
.M3{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 5px;
    letter-spacing: 1.4px;
    text-transform: uppercase;

    color: #424141;
    margin-left: 11rem;
    
}
.Share{
    margin-left: 4em;
}
.Share h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height, or 150% */


    color: #000;
    margin-top: 4em;

}
.Reach{
   margin-top: 30px;
   margin-left: 4em; 
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.Reach h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
    /* identical to box height, or 149% */


    color: #000;
}
.Directly{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 1px;
    /* identical to box height, or 149% */


    color: blue;
}
.Embed{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 10px;
    /* identical to box height, or 148% */


    color: #000;
}
.Reach img{
    width: 50%;
    height: 30rem;
}
.main2-btn{
    margin-left: 4em;
    width: 100%;
}
.button6{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height, or 150% */

    text-align: center;
    color: #000;
    margin-left: 10px;
    padding: 18px;
    border: 1px solid gray;
    border-radius: 6px;
}
.button5{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    background-color: blue;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 25px;
    border: 1px solid gray;
    padding: 15px;
}
.main2-btn .button5:hover{
    background: #306EF7;
    color: #000;
    border: none;
}
.main2-btn .button6:hover{
    background: #000;
    color: #fff;
    border: none;
}
.Experts{
    width: 100%;
    text-align: center;
    margin-top: 2em;
}
.Experts h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 112px;
    /* identical to box height, or 149% */


    color: #050505;

}
.Experts img{
    width: 90%;
}
.photo{
    background-image: url(./Image-4.png);
    width: 100%;
    height: 700px;
    text-align: center;
}
.photo h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 25rem;
    /* or 150% */

    text-align: center;

    color: #FFFFFF;
    align-items: center;

}
.icon{
    text-align: center;
    margin-top: 4rem;
}
.icon h1{
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 100px;
line-height: 150px;
/* identical to box height, or 150% */


color: #000;
}
.icon h4{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 43px;
line-height: 64px;
/* identical to box height, or 149% */


color: #000;

}
.icon h5{
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 57px;
/* identical to box height, or 150% */


color: #000;
}
.creators{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 38px;
line-height: 57px;
/* identical to box height */

text-align: center;

color: #707070;

}
.get{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    background-color: blue;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 25px;
    border: 1px solid gray;
    padding: 15px;
}
.get:hover{
    background: #306EF7;
    color: #000;
    border: none;
}
.navbar2{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav2{
    display: flex;
    align-items: center;
}
.nav2 h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 37px;
    line-height: 56px;
    /* identical to box height, or 151% */


    color: #000;
    margin-left: 0.5em;
}
 h6{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 10px;
    /* identical to box height, or 148% */


    color: #707070;
    margin-left: 13em;
}
.navbar2-collopse{
    width: 30%;
}
.ul2{
    display: flex;
    justify-content: space-around;
}
.ul2 li{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
   /* identical to box height, or 150% */


    color: #707070;

}
.container2{
    width: 80%;
    margin: 0 auto;
    margin-top: 120px;
}